# Virtual Environment
venv/
__pycache__/
*.pyc

# MLflow
mlruns/

# Data
data/raw/*
!data/raw/.gitkeep
data/processed/*

# But keep .dvc pointer files
!*.dvc
!.gitignore


# Models
models/*

# OS files
.DS_Store
Thumbs.db